@import url('https://www.nerdfonts.com/assets/css/webfont.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: linear-gradient(
      to bottom,
      rgba(43, 126, 220),
      rgba(97, 58, 226)
    );
    min-height: 100vh; /* Esto asegura que el degradado cubra toda la altura de la pantalla */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(55 65 81);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 1rem;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
